<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024526666483-dl1ndstrntt2pg0so9er6e2c0oh0p674.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024526666483-dl1ndstrntt2pg0so9er6e2c0oh0p674</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1024526666483-76gehdurkfdq1u9a3kpjnrnf5sms44fo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpBS8aomLB0jDKKKJojgvs83GkpFJnWZY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024526666483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csi.vitap</string>
	<key>PROJECT_ID</key>
	<string>vitapandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>vitapandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024526666483:ios:2fe396694a3eab9327c586</string>
</dict>
</plist>